<h2 class="text-white">Log in page</h2>

<form action="/login" method="post">

  <div class="form-floating">
    <label for="username">Username: </label>
    <input type="text" name="username" class="form-control" placeholder="Username">
  </div>  

  <div class="form-floating">
    <label for="password">Password: </label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>

<button type="submit" class="btn btn-outline-ligth text-white"> Log in </button>

</form>

{{#if errorMessage}}
<p>{{this.errorMessage}}</p>
{{/if}}