

<form action="/signup" method="post" class="inputs-auth">

  <div class="form-floating inputs">
    <label for="username">Username: </label>
    <input type="text" name="username" class="form-control button" placeholder="Username">
  </div>  

  <div class="form-floating inputs">
    <label for="password">Password: </label>
    <input type="password" name="password" class="form-control button" placeholder="Password">
  </div>  

<button type="submit" class="btn btn-outline-ligth text-white"> New User </button>

</form>

{{#if errorMessage}}
<p class="errorMessage">{{this.errorMessage}}</p>
{{/if}}