



<form action="/album/create-album" method="POST">
  <div >

    <label for="title">Title: </label>
    <input type="text" name="title">
    <label for="year">Year: </label>
    <input type="text" name="year">
    {{!-- <label for="formats">Formats: </label>
    <input type="text" name="formats">
    <label for="artists">Artists: </label>
    <input type="text" name="artists">
    <label for="tracklist">Track-list: </label>
    <input type="text" name="tracklist"> --}}
    <label for="image_url">Image url: </label>
    <input type="text" name="image_url">
  </div>
  <button type="submit" class="btn btn-outline-secondary">Create a album</button>
</form>

<label for=""></label>