



<form action="/album/create-album" method="POST" class="create-album scroll">
  <div class="create-album-div">

    <div class="form-floating inputs-album">
      <label for="title">Title: </label>
      <input type="text" name="title" class="form-control inputs" placeholder="Title">
    </div>

    <div class="form-floating inputs-album">
      <label for="year">Year: </label>
      <input type="text" name="year" class="form-control inputs" placeholder="Year">
    </div>    

    <div class="form-floating inputs-album">
      <label for="images">Images: </label>
      <input type="text" name="images" class="form-control inputs" placeholder="Images">
    </div>    
    

    <div>
      <div id="formatDiv">
        <div class="form-floating inputs-album">
          <label for="formats">Formats: </label>
          <input type="text" name="formats" class="form-control inputs format" placeholder="Formats">
        </div>    
      </div>
      <button id="addFormatBtn" type="button"  class="btn btn-secondary text-white">Add new Format</button>
    </div>

    <div>
      <div id="artistsDiv">
        <div class="form-floating inputs-album">
          <label for="artists">Artists: </label>
          <input type="text" name="artists" class="form-control inputs artists" placeholder="Artists">
        </div>      
      </div>
      <button id="addArtistBtn" type="button"  class="btn btn-secondary text-white">Add new artist</button>
    </div>

    <div>
      <div id="tracklistDiv">
        <div class="form-floating inputs-album">
          <label for="tracklist">Tracklist: </label>
          <input type="text" name="tracklist" class="form-control inputs tracklist" placeholder="Title">
          {{!-- <input type="text" name="tracklist" class="form-control tracklist" placeholder="Title">     --}}
        </div>      
      </div>
      <button id="addTracklistBtn" type="button"  class="btn btn-secondary text-white">Add new track</button>
    </div>

  </div>
  <button type="submit" class="btn button btn-secondary text-white">Create a album</button>
</form>




<script>

document.getElementById("addFormatBtn").addEventListener("click", ()=>{
 document.getElementById('formatDiv').innerHTML += '<input type="text" name="formats" class="form-control format" placeholder="Formats">'
});

document.getElementById("addArtistBtn").addEventListener("click", ()=>{
 document.getElementById('artistsDiv').innerHTML += ' <input type="text" name="artists" class="form-control artists" placeholder="Artists">'
});

document.getElementById("addTracklistBtn").addEventListener("click", ()=>{
 document.getElementById('tracklistDiv').innerHTML += '<input type="text" name="tracklist" class="form-control tracklist" placeholder="Title">'
});

</script>