<h2>All albums </h2>



{{#each album}}
<ul>
<a href="/artist/album-details/{{id}}">
   <li>
      {{this.title}}
      <img src="{{this.cover_image}}" alt="{{this.title}}">
    </li>
  </a> 
</ul>
{{/each}}

