<h2>Search by ...</h2>


<form action="/artist/all-albums" method="get">
 <label for="artist" >Search by artist: </label>
 <input type="text" name="artist" value="daft-punk">
 <button type="submit">Search</button>
</form>