@font-face {
  font-family: akira;
  src: url(/fonts/Akira\ Expanded\ Demo.otf);
}
.akira{
  font-family: 'akira';
}
body {
  font: 18px ;
  font-family: 'Roboto', sans-serif;
  background-image: url('/images/backgorund-vinyl.jpg');
  background: linear-gradient(-45deg, #000000, #0c229c, #3baad6, #3ea6e2); 
  background-size: 400% 200%;
  animation: gradient 20s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  width: 100%;
  height: 100%;
}
.errorMessage{
  text-align: center;
  font: 18px 'akira' ;
  color: crimson;
  margin: 5px;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
h2{
  font-size: 15px;
  text-align: center;
  font-family: 'akira';
}
h6{
  width: 10vw;
  font-family: 'akira';
  margin-top: 2vh;
}
ul{
  padding: 0px;
}
.scroll{
  overflow-y: scroll;
  height: 74vh;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll-search{
  overflow-y: scroll;
  height: 64vh;
}
.scroll-search::-webkit-scrollbar {
  display: none;
}
.menu{
  font-family: 'akira';
  background-color: #73ccffea;
}
.menu-logo{
  width: 25px;
  margin: 10px;
}
.menu-button{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.searcher{
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search{
  width: 80vw;
}
.inputs{
  width: 60vw;
  padding: 5px;
  margin:-5px;
}
.inputs-album{
  width: 60vw;
  padding: 15px;
  margin:-5px;
}
.inputs-auth{
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.text-white{
  text-decoration: none;
  color: white;
}
.text-black{
  text-decoration: none;
  color: black;
}

.list-style{
  list-style: none;
  margin-bottom:15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.buttons-style{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.button{
  margin:5px;
}
.album-details{
display: flex;
justify-content: center;
}
.create-album{
  margin: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-album-div{
  margin: 0px;
  max-width: 60vw;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

footer {
  background: linear-gradient(#0920a000, #00000096); 
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vh;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between ;
}
.footer-logo{
  margin-top: 11px;
  margin-left: 15px;
  width: 3rem;
}
.logo-discogs{
  margin-top: 21px;
  margin-right: 12px;
  width:4.2em;
}
.logo-linkedIn{
  margin-left: 20px;
  width: 3rem;
}
.instructions{
  margin-top:38px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructions-logo{
  width: 10vw;
}
.instructions-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructions-text > p{
  width: 49vw;
  font-size: 9.79px;
  text-align: justify;
}

.modal-button{
  font-size: 9px;
  width: 85px;
  height: 63px;
  text-align: center;
}
.login-flex{
  margin: 20vh 0vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}